<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#ffad43" />
    <link rel="apple-touch-icon" href="/icons/apple-icon.png" />
    <link rel="icon" href="/icons/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <title>Restaurant Top</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Restaurant Top is a restaurant recommendation app that helps you find the best restaurant in your area."
    />
    <script
      defer
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  </head>
  <body>
    <app-bar></app-bar>
    <hero-component></hero-component>
    <main id="mainContent"></main>
    <footer>Copyright © 2020 - Restaurant-Grace</footer>
  </body>
</html>
